.contact1 {
  position: relative;
  padding-top: 60px;
  background-image: url('../images/landing_bg_draft1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.contact2 {
  width: 100vw;
}
.contact2 img {
  width: inherit;
}
