body {
  overflow: hidden;
}
.indexStatic {
  position: relative;
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: table;
}
.index1 {
  background-image: url('../images/landing_bg_draft1.jpg');
}
.index2 {
  background-image: url('../images/designBanner.png');
  top: -100vh;
}
.index3 {
  background-image: url('../images/codeBanner.png');
  top: -200vh;
}
.indexOverlay {
  z-index: 2;
}
.bannerMouseOvers {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
.bannerMouseOvers td {
  width: 50%;
}
.bannerMouseOvers td p {
  width: 50vw;
  height: 100vh;
}
#indexTitle {
  height: 20vh;
  text-align: center;
  position: fixed;
  top: 60px;
  z-index: 4;
  margin: 0 35vw;
  width: 30vw;
  cursor: default;
}
#indexFirstTitle {
  /*width: 100vw;*/
  font-family: 'Slabo 27px', serif;
  font-size: 6vw;
  margin: 0.1vh 0;
  color: rgba(0,0,0,0.7);
}
#indexSubTitle {
  font-family: 'Slabo 27px', serif;
  color: rgba(0,0,0,0.7);
  margin: 0.1vh 0;
  font-size: 4vw;
  height: 100vh;
}
