body {
  overflow: hidden;
}
.index1 {
  position: relative;
  padding-top: 60px;
  background-image: url('../images/landing_bg_draft1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.landingPageGraphic {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  height: inherit;
  width: inherit;
  top: 0px;
  left: 0px;
  padding: 150px;
  background: rgba(0,0,0,0.75);
  display: none;
}
#graphicRight {
  text-align: right;
}
.landingPageGraphic p {
  color: #fff;
  font-size: 14pt;
  font-weight: 100;
  margin: 5px 0;
}
.landingPageMouseOver {
  height: inherit;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.landingPageMouseOver tr td {
  width: 50vw;
}
.horizontal-container {
  background-color: #ccb292;
}
