body {
  font-family: "Segoe UI";
  margin: 0;
  overflow-x: hidden;
}
table, tr, td {
  border-collapse: collapse;
}
h2 {
  color: #333;
  font-size: 40pt;
  margin-bottom: 10pt;
  font-weight: 100;
}
h3 {
  color: #333;
  font-size: 20pt;
  margin: 0;
  font-weight: 400;
}
.main {
  display: table-row;
  width: 100vw;
}
.content {
  box-sizing: border-box;
}
.fullwidth_content, .fullwidth_content * {
  width: inherit;
}


.descriptionHover {
  z-index: 5;
  position: relative;
}
.descriptionHover a {
  clear: none;
  float: left;
}
.projectTile {
  width: 250px;
  height: 250px;
  display: table;
  clear: none;
  float: left;
}
.descriptionHover a .projectTile {
  text-align: center;
  background: url('../images/projectTilesOverlayBG.png');
  background-size: contain;
  opacity: 0;
}
.descriptionHover a .projectTile *{
  display: table-cell;
  vertical-align: middle;
}
