body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
}
table, tr, td {
  border-collapse: collapse;
}
h1 {
  color: rgb(86, 145, 143);
  font-size: 50pt;
  margin-bottom: 10pt;
  font-weight: 300;
}
h2 {
  color: #333;
  font-size: 40pt;
  margin-bottom: 10pt;
  font-weight: 300;
}
h3 {
  color: #333;
  font-size: 20pt;
  margin: 0;
  font-weight: 400;
}
h4 {
  color: #333;
  font-size: 30pt;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(86, 145, 143);
}
em {
  color: rgb(86, 145, 143);
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
p {
  font-size: 13pt;
}
a {
  text-decoration: none;
  color: rgb(22,104,101);
}
a:active, a:hover {
  color: #333;
}
.main {
  display: table-row;
  width: 100vw;
}
.content {
  box-sizing: border-box;
}
.fullwidth_content, .fullwidth_content * {
  width: inherit;
}
.upDownArrows {
  z-index: 9;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  left: calc(50% - 30px);
  background-image: url('../images/arrows/downArrow.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


.descriptionHover {
  z-index: 5;
  position: relative;
}
.projectTile {
  width: 150px;
  height: 150px;
  display: inline-block;
  clear: none;
  background-size: contain;
  margin: 10px;
}
.descriptionHover a .projectTile {
  text-align: center;
  background: url('../images/icons/projectTilesOverlayBG.png');
  background-size: contain;
  opacity: 0;
  display: table;
  margin: 0px;
}
.descriptionHover a .projectTile *{
  display: table-cell;
  vertical-align: middle;
}
