.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 50px;
  background: url('../images/smallSquares/navbar.jpg');
  background-size: contain;
  display: table-row;
  box-sizing: border-box;
  padding: 5px 80px;
}
.lyanne-logo, .navbar-container {
  display: inline-block;
  color: #FFF;
}
.lyanne-logo {
  font-size: 20pt;
  font-weight: 300;
}
.navbar-container {
  font-size: 14pt;
  float: right;
}
.navbar-container td {
  padding: 4px 15px 6px 15px;
  box-sizing: border-box;
  font-weight: 300;
}
.navbar-container .selected {
  border: 1px solid #FFF;
}
.navbar-container a {
  color: #FFF;
  text-decoration: none;
}
