.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 100px;
  background: linear-gradient(rgba(0,0,0,0.9) 15%, rgba(0,0,0,0.6) 50%, rgba(50,50,50,0));
}
.lyanne-logo, .navbar-container {
  display: inline-block;
  color: #FFCC00;
}
.lyanne-logo {
  font-size: 20pt;
  font-weight: 300;
}
.navbar-container {
  font-size: 14pt;
  float: right;
}
.navbar-container td {
  padding: 4px 15px 6px 15px;
  box-sizing: border-box;
  font-weight: 300;
}
.navbar-container .selected {
  border: 1px solid #FFCC00;
}
.navbar-container a {
  color: #FFCC00;
  text-decoration: none;
}
