.projects1 {
  position: relative;
  padding-top: 60px;
  background-image: url('../images/engineeringProjectsBG.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.projectsPageGraphic {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 0px;
  right: 0px;
  padding: 50px;
  width: 50%;
  height: inherit;
  /*background-color: rgba(0,0,0,0.4);*/
  text-align: center;
}
.descriptionHover {
  left: -250px;
}
