.projectsContainer {
  position: relative;
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
#projects1 { background-image: url('../images/projectsBanners/engineeringProjectsBG.jpg'); }
#projects2 { background-image: url('../images/projectsBanners/designProjectsBG.jpg'); }
.projectsPageGraphic {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 0px;
  padding: 50px;
  width: 50%;
  height: inherit;
  text-align: center;
}
.projectsPageGraphic table {
  margin:auto;
  table-layout: fixed;
}
.projectsPageGraphic td {
  width: 170px;
}
#engBanner { right: 0px; }
#desBanner { left: 0px; }
