.main {
  background-image: url('../images/plainBG/blueBGtile.jpg');
  background-repeat: repeat;
  color: #333; }
.oneCol, .twoCols, .sectionTitle {
  width: 80vw;
  box-sizing: border-box;
  margin: 10px auto 80px auto;
  overflow: hidden; }
.sectionTitle {
  margin: 40px auto 10px auto; }

/******************* TITLE BANNER STYLE ******************/
#topHeader {
  padding: 100px 10vw 80px 10vw;
  width: 100vw;
  height: 100vh;
  min-height: 60vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
  display: table; }
#topHeaderWrapper {
  width: 50vw;
  overflow: hidden;
  display: table-cell;
  vertical-align: bottom; }
#titleIcon { width: 200px; }
#titleText { width: inherit; margin: 0;}
#topHeaderWrapper p { font-size: 14pt; color: #FFF; font-weight: 300; }

/********************* 2 COL CONTENT ********************/
.twoColsA, .twoColsB {
  width: 50%;
  margin: 0;
  box-sizing: border-box;
  display: inline-block; }
.twoColsA { float: left; }
.twoColsB { float: right; }
.twoColsA *, .twoColsB * { width: 100%; }

/********************* IMAGE SLIDER ********************/
.imageSlider, .singleImage, .imageSliderControls {
  max-width: 480px;
  display: inline-block;
  float: left;
  overflow: hidden; }
.singleImage { display: table; }
.singleImage video { display: table-cell; vertical-align: middle; }
.sixteen_nine, .sixteen_nine .allImagesSlider, .sixteen_nine .singleImage img { height: 270px; }
.long_aspectratio, .long_aspectratio .allImagesSlider, .long_aspectratio .singleImage img { height: 203px; }
.video_aspectratio, .video_aspectratio .allImagesSlider, .video_aspectratio .singleImage, .video_aspectratio .singleImage { height: 853px; }
.imageSlider { margin-top: 20px; }
.video_aspectratio { margin-top: 100px; }
.singleImage { text-align: center; background-color: #333; }
#industrialDesignPage .singleImage { background-color: #FFF; }
.singleImage img { width: auto; max-width: 480px; }
.twoColsB .imageSlider { float: right; }
.imageSliderControls {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100px;
  width: 67px;
  margin: 0;
  background-color: rgba(0,0,0,0.4); }
.sixteen_nine .imageSliderControls { margin-top: 85px; }
.long_aspectratio .imageSliderControls { margin-top: 51px; }
.video_aspectratio .imageSliderControls { margin-top: 377px; }
